.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondary-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 1;
}
@media screen and (min-width: 576px) {
  .navbar {
    height: 6rem;
  }
}

#hamburger-menu {
  display: none;
  position: absolute;
  z-index: 1;
}
#hamburger-menu:checked ~ .navbar .navbar-list {
  display: block;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
#hamburger-menu:checked ~ .navbar .navbar-list a {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s;
}
#hamburger-menu:checked ~ .hamburger-menu-label .hamburger-menu-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#hamburger-menu:checked ~ .hamburger-menu-label .hamburger-menu-bar::before {
  display: none;
}
#hamburger-menu:checked ~ .hamburger-menu-label .hamburger-menu-bar::after {
  left: 0;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hamburger-menu-label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  z-index: 1;
}
@media screen and (min-width: 576px) {
  .hamburger-menu-label {
    height: 3rem;
    right: 1.5rem;
    top: 1.5rem;
    width: 3.5rem;
  }
}
@media screen and (min-width: 768px) {
  .hamburger-menu-label {
    display: none;
  }
}

.hamburger-menu-bar {
  background-color: var(--primary-clr);
  border-radius: 1.5px;
  cursor: pointer;
  position: relative;
  height: 0.4rem;
  width: 2.5rem;
}
@media screen and (min-width: 576px) {
  .hamburger-menu-bar {
    height: 0.6rem;
    width: 3.5rem;
  }
}
.hamburger-menu-bar::before, .hamburger-menu-bar::after {
  background-color: var(--primary-clr);
  border-radius: 1.5px;
  content: '';
  height: 0.4rem;
  position: absolute;
  width: 2.5rem;
}
@media screen and (min-width: 576px) {
  .hamburger-menu-bar::before, .hamburger-menu-bar::after {
    height: 0.6rem;
    width: 3.5rem;
  }
}
.hamburger-menu-bar::before {
  top: 0.8rem;
}
@media screen and (min-width: 576px) {
  .hamburger-menu-bar::before {
    top: 1.2rem;
  }
}
.hamburger-menu-bar::after {
  bottom: 0.8rem;
}
@media screen and (min-width: 576px) {
  .hamburger-menu-bar::after {
    bottom: 1.2rem;
  }
}

.navbar-list {
  -webkit-box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.3);
  list-style-type: none;
  margin: 4rem 0 0 0;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}
@media screen and (min-width: 576px) {
  .navbar-list {
    margin: 6rem 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  .navbar-list {
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    padding: 0 1.8rem;
    position: static;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@media screen and (min-width: 992px) {
  .navbar-list {
    padding: 0 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-list {
    margin: 0 auto;
    padding: 0 3rem;
    width: 120rem;
  }
}
.navbar-list .menu-items {
  background-color: var(--primary-clr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
@media screen and (min-width: 576px) {
  .navbar-list .menu-items {
    height: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar-list .menu-items {
    background-color: var(--secondary-clr);
    width: 25%;
  }
}
.navbar-list .menu-items a {
  color: var(--background-clr);
  font-family: var(--text-font);
  font-size: 1.8rem;
  line-height: 4rem;
  opacity: 0;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out, opacity 0.1s ease-in-out;
  transition: color 0.2s ease-in-out, opacity 0.1s ease-in-out;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .navbar-list .menu-items a {
    line-height: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar-list .menu-items a {
    color: var(--primary-clr);
    opacity: 1;
  }
}
@media screen and (min-width: 992px) {
  .navbar-list .menu-items a {
    font-size: 2.4rem;
  }
}
.navbar-list .menu-items a i {
  margin-right: 0.5rem;
}
.navbar-list .menu-items:hover {
  background-color: #e6e4cf;
}
.navbar-list .menu-items:hover a {
  color: var(--background-clr);
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 614px;
  overflow: hidden;
  padding-top: 9rem;
  position: relative;
}
@media screen and (min-width: 576px) {
  .header {
    height: 985px;
    padding-top: 11rem;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 1176px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 2rem;
    height: 697px;
    padding: 13rem 2.6rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 2rem;
    margin: 0 auto;
    padding: 13rem 4rem 0;
    width: 120rem;
  }
}

.greetings {
  color: var(--primary-clr);
  font-family: var(--titles-font);
  font-size: 5.5rem;
  line-height: 5.5rem;
  margin: 0;
}
@media screen and (min-width: 576px) {
  .greetings {
    font-size: 9.8rem;
    line-height: 9.8rem;
  }
}
@media screen and (min-width: 992px) {
  .greetings {
    font-size: 12.5rem;
    grid-column: 2 / 8;
    justify-self: end;
  }
}
@media screen and (min-width: 1200px) {
  .greetings {
    grid-row: 1 / 2;
    justify-self: start;
  }
}

.greetings-sub {
  border-bottom: 1px solid var(--primary-clr);
  color: var(--secondary-clr);
  font-family: var(--titles-font);
  font-size: 2.35rem;
  line-height: 2.35rem;
  margin: 0;
  padding-bottom: 1.3rem;
}
@media screen and (min-width: 576px) {
  .greetings-sub {
    font-size: 4.2rem;
    line-height: 4.2rem;
    padding-bottom: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .greetings-sub {
    -ms-flex-item-align: start;
        align-self: start;
    border-bottom: none;
    justify-self: end;
    grid-column: 3 / 8;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .greetings-sub {
    grid-row: 2 / 3;
    justify-self: start;
    margin-top: 1rem;
  }
}

.description {
  color: var(--primary-clr);
  font-family: var(--titles-font);
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 0;
  margin-top: 1.2rem;
  text-align: center;
  width: 70%;
}
@media screen and (min-width: 576px) {
  .description {
    font-size: 2rem;
    line-height: 3.5rem;
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .description {
    -ms-flex-item-align: start;
        align-self: start;
    grid-column: 3 / 8;
    justify-self: end;
    line-height: 3.6rem;
    text-align: left;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .description {
    grid-column: 3 / 7;
    margin-top: 5rem;
  }
}

.self-picture-wrapper {
  border: 5px solid var(--secondary-clr);
  border-radius: 50%;
  height: 10rem;
  margin-top: 3.7rem;
  width: 10rem;
}
@media screen and (min-width: 576px) {
  .self-picture-wrapper {
    border: 9px solid var(--secondary-clr);
    height: 18rem;
    margin-top: 4rem;
    width: 18rem;
  }
}
@media screen and (min-width: 768px) {
  .self-picture-wrapper {
    height: 24.5rem;
    margin-top: 5rem;
    width: 24.5rem;
  }
}
@media screen and (min-width: 992px) {
  .self-picture-wrapper {
    grid-column: 9 / 12;
    grid-row: 1 / 3;
    height: 18rem;
    justify-self: center;
    margin-top: 3rem;
    width: 18rem;
  }
}
@media screen and (min-width: 1200px) {
  .self-picture-wrapper {
    grid-column: 9 / 12;
    grid-row: 1 / 4;
    height: 26rem;
    width: 26rem;
  }
}

.self-picture {
  border-radius: 50%;
  width: 100%;
}

.myname {
  color: var(--primary-clr);
  font-family: var(--name-font);
  font-size: 3.6rem;
  line-height: 4.3rem;
  margin-top: 0.5rem;
  text-align: center;
  width: 60%;
}
@media screen and (min-width: 576px) {
  .myname {
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-top: 2rem;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .myname {
    font-size: 6rem;
    line-height: 6rem;
    margin-top: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .myname {
    -ms-flex-item-align: start;
        align-self: start;
    font-size: 5.2rem;
    line-height: 6.7rem;
    margin-top: 1rem;
    grid-column: 9 / 12;
  }
}
@media screen and (min-width: 1200px) {
  .myname {
    grid-row: 4 / 5;
    margin-top: 0;
  }
}

.triangle-small {
  background-color: var(--primary-clr);
  height: 70px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 70px;
  left: -35px;
  top: 278px;
}
@media screen and (min-width: 576px) {
  .triangle-small {
    background-color: var(--primary-clr);
    height: 140px;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 140px;
    left: -70px;
    top: 445px;
  }
}
@media screen and (min-width: 768px) {
  .triangle-small {
    background-color: var(--primary-clr);
    height: 214px;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 214px;
    left: -107px;
    top: 455px;
  }
}
@media screen and (min-width: 992px) {
  .triangle-small {
    display: none;
  }
}

.triangle-medium {
  background-color: var(--primary-clr);
  height: 108px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 108px;
  bottom: 142px;
  right: -54px;
}
@media screen and (min-width: 576px) {
  .triangle-medium {
    background-color: var(--primary-clr);
    height: 214px;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 214px;
    bottom: 90px;
    right: -107px;
  }
}
@media screen and (min-width: 768px) {
  .triangle-medium {
    background-color: var(--primary-clr);
    height: 320px;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 320px;
    bottom: 575px;
    right: -160px;
  }
}
@media screen and (min-width: 992px) {
  .triangle-medium {
    display: none;
  }
}

.triangle-big {
  background-color: var(--primary-clr);
  height: 132px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 132px;
  bottom: -67px;
  left: -12px;
}
@media screen and (min-width: 576px) {
  .triangle-big {
    background-color: var(--primary-clr);
    height: 284px;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 284px;
    bottom: -142px;
    left: -25px;
  }
}
@media screen and (min-width: 768px) {
  .triangle-big {
    background-color: var(--primary-clr);
    height: 460px;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 460px;
    bottom: -230px;
    left: 146px;
  }
}
@media screen and (min-width: 992px) {
  .triangle-big {
    background-color: var(--primary-clr);
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    height: 27rem;
    margin: 78px auto;
    position: static;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 27rem;
  }
}
@media screen and (min-width: 1200px) {
  .triangle-big {
    grid-row: 4 / 6;
    height: 32rem;
    margin: 99px auto;
    width: 32rem;
  }
}

.about-me {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondary-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 1rem;
}
@media screen and (min-width: 576px) {
  .about-me {
    padding: 3rem 0;
  }
}
@media screen and (min-width: 768px) {
  .about-me {
    padding: 3rem 0 5rem;
  }
}
@media screen and (min-width: 992px) {
  .about-me {
    padding: 5rem 0;
  }
}

.list {
  display: grid;
  grid-row-gap: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .list {
    width: 50rem;
  }
}
@media screen and (min-width: 768px) {
  .list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .list {
    width: 78rem;
  }
}
@media screen and (min-width: 1200px) {
  .list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 93rem;
  }
}

.box {
  background-color: var(--primary-clr);
  border-radius: 0.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 0 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .box {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 12rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 3.2rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    padding: 0;
    text-align: center;
    width: 24rem;
  }
  .box:nth-child(3) {
    margin-right: 0;
  }
  .box:nth-child(4) {
    margin-bottom: 0;
  }
  .box:nth-child(5) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    margin: 0;
    width: 17rem;
  }
}

.box-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--background-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .box-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.box-title i {
  font-size: 2.2rem;
}
@media screen and (min-width: 768px) {
  .box-title i {
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .box-title i {
    font-size: 3rem;
  }
}
@media screen and (min-width: 576px) {
  .box-title {
    font-size: 2.8rem;
  }
}

.category {
  font-family: var(--text-font);
  font-size: 2.2rem;
  margin: 3px 0 0 1.2rem;
}
@media screen and (min-width: 576px) {
  .category {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 768px) {
  .category {
    margin: 0.7rem 0 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .category {
    font-size: 2.4rem;
  }
}

.box-wrapper {
  background-color: var(--background-clr);
  border-radius: 0.5rem;
  max-height: 0;
  opacity: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.box-skills-languages-wrapper {
  height: 0;
  opacity: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: opacity 0s ease-in-out 2.5s;
  transition: opacity 0s ease-in-out 2.5s;
}

.date {
  color: var(--primary-clr);
  font-family: var(--titles-font);
  font-size: 1.45rem;
  font-style: italic;
  font-weight: 100;
  margin: 0 0 2rem 0;
  text-align: center;
}

.desc {
  color: var(--secondary-clr);
  font-family: var(--text-font);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin: 0 0 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.desc2 {
  color: var(--primary-clr);
  font-family: var(--text-font);
  font-size: 1.6rem;
  line-height: 2rem;
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 2rem 0;
  text-align: center;
}
.desc2 .desc-bold {
  font-weight: 700;
  text-transform: uppercase;
}

.bar {
  background-color: var(--background-clr);
  height: 1px;
  position: relative;
}

.bar-ball {
  background-color: var(--background-clr);
  border-radius: 50%;
  height: 1.6rem;
  left: 0;
  position: absolute;
  top: -8px;
  -webkit-transition: left 1s linear 1s;
  transition: left 1s linear 1s;
  width: 1.6rem;
}

.is-visible {
  max-height: 60rem;
  opacity: 1;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem 0;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out 0.3s;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out 0.3s;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;
}
.is-visible:last-child {
  margin-bottom: 1rem;
}

.is-visible2 {
  height: auto;
  margin-bottom: 2rem;
  opacity: 1;
  padding: 1.5rem 1rem 0;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: opacity 0s ease-in-out, -webkit-transform 0.3s ease-in-out 0.3s;
  transition: opacity 0s ease-in-out, -webkit-transform 0.3s ease-in-out 0.3s;
  transition: opacity 0s ease-in-out, transform 0.3s ease-in-out 0.3s;
  transition: opacity 0s ease-in-out, transform 0.3s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;
}

.portfolio {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 1rem 5rem;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding: 3rem 1.8rem 5rem;
  }
}
@media screen and (min-width: 992px) {
  .portfolio {
    padding: 5rem 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 5rem 4rem;
  }
}
.portfolio .description {
  margin-top: -0.5rem;
}
@media screen and (min-width: 576px) {
  .portfolio .description {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
@media screen and (min-width: 768px) {
  .portfolio .description {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .portfolio .description {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio .description {
    width: 35rem;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .portfolio-grid .sections-title {
    grid-column: 1 / -1;
  }
}
@media screen and (min-width: 992px) {
  .portfolio-grid {
    padding: 0 9rem;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    padding: 0;
    width: 120rem;
  }
}

.portfolio-example-wrapper {
  background-color: var(--primary-clr);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4.4rem 0 0 0;
  padding-top: 2rem;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  width: 30rem;
}
@media screen and (min-width: 576px) {
  .portfolio-example-wrapper {
    padding-top: 2.5rem;
    width: 45rem;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-example-wrapper {
    -ms-flex-item-align: start;
        align-self: start;
    justify-self: center;
    width: 30.5rem;
  }
}
@media screen and (min-width: 992px) {
  .portfolio-example-wrapper {
    width: 38rem;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-example-wrapper {
    width: 100%;
  }
}
.portfolio-example-wrapper:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.portfolio-example-wrapper:hover::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.portfolio-example-wrapper:hover::after {
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media screen and (min-width: 768px) {
  .portfolio-example-wrapper .portfolio-link {
    height: 16rem;
  }
}
@media screen and (min-width: 992px) {
  .portfolio-example-wrapper .portfolio-link {
    height: 19.5rem;
  }
}
.portfolio-example-wrapper::before, .portfolio-example-wrapper::after {
  background-color: transparent;
  bottom: 8.5%;
  -webkit-box-shadow: 0 25px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 25px 10px 0 rgba(0, 0, 0, 0.2);
  content: '';
  position: absolute;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  width: 95%;
  height: 2rem;
  z-index: -1;
}
.portfolio-example-wrapper::before {
  left: 1rem;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.portfolio-example-wrapper::after {
  right: 1rem;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.portfolio-example-img {
  display: block;
  margin: 0 auto;
  max-height: 20rem;
  max-width: 90%;
}
@media screen and (min-width: 768px) {
  .portfolio-example-img {
    max-height: 16rem;
  }
}
@media screen and (min-width: 992px) {
  .portfolio-example-img {
    max-height: 19.5rem;
  }
}

.portfolio-example-description-wrapper {
  background-color: var(--secondary-clr);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 2.5rem;
  padding: 2rem 2rem 2rem 2.5rem;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .portfolio-example-description-wrapper {
    padding: 2.5rem 3rem 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-example-description-wrapper {
    padding: 2.5rem 1.5rem 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .portfolio-example-description-wrapper {
    padding: 2rem 3rem;
  }
}

.portfolio-example-title {
  color: var(--primary-clr);
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 2.3rem;
  margin: 0;
}
@media screen and (min-width: 576px) {
  .portfolio-example-title {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-example-title {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}
@media screen and (min-width: 992px) {
  .portfolio-example-title {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}

.portfolio-example-description {
  color: var(--primary-clr);
  font-family: var(--text-font);
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin: 1rem 0 0 0;
}
@media screen and (min-width: 576px) {
  .portfolio-example-description {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
}
@media screen and (min-width: 992px) {
  .portfolio-example-description {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

.contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondary-clr);
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 992px) {
  .contact {
    padding: 5rem 0;
  }
}
.contact i {
  color: var(--background-clr);
  font-size: 4rem;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  .contact i {
    font-size: 4.8rem;
  }
}
.contact .description {
  color: var(--primary-clr);
  font-family: var(--text-font);
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .contact .description {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .contact .description {
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 5rem;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .social-media {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 46rem;
  }
}
.social-media i:hover {
  color: var(--primary-clr);
}

.footer {
  padding: 2rem 0;
}
@media screen and (min-width: 576px) {
  .footer {
    padding: 2.5rem 0;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3rem 0;
  }
}
.footer .copyright {
  color: var(--primary-clr);
  font-family: var(--titles-font);
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .footer .copyright {
    font-size: 1.6rem;
  }
}

.modal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100vw;
  z-index: 1;
}
.modal .box-title {
  margin-bottom: 1rem;
  width: 100%;
}
.modal .category {
  margin: 0;
}

.modal-edu .modal-container,
.modal-languages .modal-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primary-clr);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  overflow-y: auto;
  padding: 2rem 0;
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  visibility: hidden;
  width: 55rem;
}

.modal-work .modal-container,
.modal-skills .modal-container,
.modal-courses .modal-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primary-clr);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  overflow-y: auto;
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  visibility: hidden;
  width: 55rem;
  padding: 2rem 0;
}

.modal-box-wrapper {
  background-color: var(--background-clr);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem 0;
  width: 80%;
}
.modal-box-wrapper:last-child {
  margin-bottom: 1rem;
}

.modal-box-skills-languages-wrapper {
  margin: 0 auto 2rem;
  padding: 1.5rem 1rem 0;
  width: 80%;
}

.visibility-on {
  visibility: visible;
}

:root {
  --background-clr: #524c50;
  --primary-clr: #f3f1d8;
  --secondary-clr: #ff934f;
  --titles-font: 'Libre Baskerville', serif;
  --text-font: 'Hind', sans-serif;
  --name-font: 'Parisienne', cursive;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--background-clr);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.sections-title {
  color: var(--primary-clr);
  font-family: var(--titles-font);
  font-size: 3.6rem;
  line-height: 3.6rem;
  margin: 0 0 3rem 0;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .sections-title {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .sections-title {
    font-size: 6rem;
    line-height: 6rem;
  }
}
@media screen and (min-width: 992px) {
  .sections-title {
    margin: 0 0 3rem 0;
  }
}
