.hamburger-menu {
	cursor: pointer;
	height: 2.5rem;
	position: absolute;
	right: 2rem;
	top: 2rem;
	width: 3rem;

	&__bar {
		@include hamburger-bar(0.5rem, 100%);
		height: 0.5rem;
		position: absolute;
		top: 1rem;

		&::before,
		&::after {
			@include hamburger-bar(0.5rem, 100%);
			content: '';
			position: absolute;
		}

		&::before {
			top: -1rem;
		}

		&::after {
			top: 1rem;
		}
	}
}
