.navbar {
  align-items: center;
  background-color: var(--secondary-clr);
  display: flex;
  height: 4rem;
  justify-content: flex-end;
  padding-right: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  @include mq(576px) {
    height: 6rem;
    padding-right: 1.5rem;
  }
  @include mq(768px) {
    padding-right: 0;
  }
}

.hamburger-menu {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 2rem;
  justify-content: center;
  position: relative;
  width: 2.5rem;
  @include mq(576px) {
    height: 3rem;
    width: 3.5rem;
  }
  @include mq(768px) {
    display: none;
  }
}

.hamburger-menu-bar {
  @include hamburger-bar;
  height: 0.4rem;
  width: 100%;
  @include mq(576px) {
    height: 0.6rem;
    width: 3.5rem;
  }
  &::before,
  &::after {
    @include hamburger-bar;
    content: "";
    height: 0.4rem;
    position: absolute;
    width: 100%;
    @include mq(576px) {
      height: 0.6rem;
      width: 3.5rem;
    }
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

.navbar-list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0 1.8rem;
  width: 100%;
  @include mq(768px) {
    display: flex;
    justify-content: space-evenly;
  }

  .menu-items {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 6rem;
    transition: background-color 0.3s ease-in-out;
    width: 25%;

    a {
      color: var(--primary-clr);
      font-family: var(--text-font);
      font-size: 1.8rem;
      text-align: center;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
      width: 100%;

      i {
        margin-right: 5px;
      }
    }

    &:hover {
      background-color: var(--primary-clr);
      a {
        color: var(--background-clr);
      }
    }
  }
}
