@mixin hamburger-bar {
  background-color: var(--primary-clr);
  border-radius: 1.5px;
  height: 0.4rem;
  width: 2.5rem;
}

@mixin triangle($size) {
  background-color: var(--primary-clr);
  height: $size;
  position: absolute;
  transform: rotate(45deg);
  width: $size;
}
