.contact {
  align-items: center;
  background-color: var(--secondary-clr);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  @include mq(992px) {
    padding: 5rem 0;
  }

  i {
    color: var(--background-clr);
    font-size: 4rem;
    transition: color 0.2s ease-in-out;
    @include mq(768px) {
      font-size: 4.8rem;
    }
  }

  .description {
    color: var(--primary-clr);
    font-family: var(--text-font);
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    @include mq(576px) {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  @include mq(992px) {
    justify-content: space-between;
    width: 46rem;
  }

  i:hover {
    color: var(--primary-clr);
  }
}
