.about-me {
  align-items: center;
  background-color: var(--secondary-clr);
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  @include mq(576px) {
    padding: 3rem 0;
  }
  @include mq(768px) {
    padding: 3rem 0 5rem;
  }
  @include mq(992px) {
    padding: 5rem 0;
  }
}

.list {
  display: grid;
  grid-row-gap: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  @include mq(576px) {
    width: 45rem;
  }
  @include mq(768px) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  @include mq(992px) {
    width: 78rem;
  }
  @include mq(1200px) {
    justify-content: space-between;
    max-width: 120rem;
    width: 80%;
  }
}

.box {
  background-color: var(--primary-clr);
  border-radius: 0.5rem;
  color: var(--background-clr);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 4rem;
  justify-content: center;
  list-style-type: none;
  padding: 0 10px;
  width: 100%;
  i {
    font-size: 2.2rem;
    @include mq(768px) {
      font-size: 3.6rem;
    }
    @include mq(1200px) {
      font-size: 3rem;
    }
  }
  @include mq(576px) {
    font-size: 2.8rem;
    height: 5rem;
  }
  @include mq(768px) {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    line-height: 3.2rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    padding: 0;
    text-align: center;
    width: 24rem;
    &:nth-child(3) {
      margin-right: 0;
    }
    &:nth-child(4) {
      margin-bottom: 0;
    }
    &:nth-child(5) {
      margin-bottom: 0;
    }
  }
  @include mq(1200px) {
    margin: 0;
    width: 17rem;
  }

  .box-title {
    align-items: center;
    display: flex;
    text-transform: uppercase;
  }

  .category {
    font-family: var(--text-font);
    font-size: 2.2rem;
    margin: 3px 0 0 1.2rem;
    @include mq(576px) {
      font-size: 2.8rem;
    }
    @include mq(768px) {
      margin: 0.7rem 0 0 0;
    }
    @include mq(1200px) {
      font-size: 2.4rem;
    }
  }
}

.box-edu-wrapper {
  background-color: var(--background-clr);
  border-radius: 0.5rem;
  max-height: 0;
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.5s ease-in-out, max-height 0.5s ease-in-out 0.5s,
    opacity 0.1s ease-in-out 0.5s;

  .edu-date {
    color: var(--primary-clr);
    font-family: var(--titles-font);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
    margin: 0 0 2rem 0;
    text-align: center;
  }

  .edu-desc {
    color: var(--secondary-clr);
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin: 0 0 1.5rem 0;
    text-align: center;
    text-transform: uppercase;
  }

  .edu-desc2 {
    color: var(--primary-clr);
    font-family: var(--text-font);
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0;
    text-align: center;

    .edu-desc-bold {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &:last-child {
    .edu-desc2 {
      margin: 0 0 1.5rem 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.is-visible {
  max-height: 60rem;
  opacity: 1;
  padding: 1.5rem 1rem;
  transform: scale(1, 1);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out 0.3s,
    max-height 0.5s ease-in-out;
  &:nth-child(2) {
    margin-bottom: 2rem;
  }
}

.change {
  padding-bottom: 1rem;
}
