.portfolio {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 5rem;
  @include mq(768px) {
    padding: 3rem 1.8rem 5rem;
  }
  @include mq(992px) {
    padding: 5rem 1.6rem;
  }
  @include mq(1200px) {
    padding: 5rem 4rem;
  }

  .description {
    margin-top: -0.5rem;
    @include mq(576px) {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
    @include mq(768px) {
      width: 50%;
    }
    @include mq(992px) {
      margin: 0 auto;
      text-align: center;
    }
    @include mq(1200px) {
      width: 35rem;
    }
  }
}

.portfolio-grid {
  @include mq(768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    .sections-title {
      grid-column: 1 / -1;
    }
  }
  @include mq(992px) {
    padding: 0 9rem;
  }
  @include mq(1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    padding: 0;
    width: 120rem;
  }
}

.portfolio-example-wrapper {
  background-color: var(--primary-clr);
  border-radius: 0.5rem;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4.4rem 0 0 0;
  padding-top: 2rem;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  width: 30rem;
  @include mq(576px) {
    padding-top: 2.5rem;
    width: 45rem;
  }
  @include mq(768px) {
    align-self: start;
    justify-self: center;
    width: 30.5rem;
  }
  @include mq(992px) {
    width: 38rem;
  }
  @include mq(1200px) {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  }

  &:hover::before {
    box-shadow: none;
  }

  &:hover::after {
    box-shadow: none;
  }

  .portfolio-link {
    @include mq(768px) {
      height: 16rem;
    }
    @include mq(992px) {
      height: 19.5rem;
    }
  }

  // CIENIE
  &::before,
  &::after {
    background-color: transparent;
    bottom: 8.5%;
    box-shadow: 0 30px 10px 0 rgba(0, 0, 0, 0.3);
    content: "";
    position: absolute;
    transition: box-shadow 0.3s ease-in-out;
    width: 95%;
    height: 2rem;
    z-index: -1;
  }

  &::before {
    left: 1rem;
    transform: rotate(-5deg);
  }

  &::after {
    right: 1rem;
    transform: rotate(5deg);
  }
}

.portfolio-example-img {
  display: block;
  margin: 0 auto;
  max-height: 20rem;
  max-width: 90%;
  @include mq(768px) {
    max-height: 16rem;
  }
  @include mq(992px) {
    max-height: 19.5rem;
  }
}

.portfolio-example-description-wrapper {
  background-color: var(--secondary-clr);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 2.5rem;
  padding: 2rem 2rem 2rem 2.5rem;
  width: 100%;
  @include mq(576px) {
    padding: 2.5rem 3rem 2.5rem;
  }
  @include mq(768px) {
    padding: 2.5rem 1.5rem 1.5rem;
  }
  @include mq(992px) {
    padding: 2rem 3rem;
  }
}

.portfolio-example-title {
  color: var(--primary-clr);
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 2.3rem;
  margin: 0;
  @include mq(576px) {
    font-size: 3rem;
    line-height: 3rem;
  }
  @include mq(768px) {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  @include mq(992px) {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}

.portfolio-example-description {
  color: var(--primary-clr);
  font-family: var(--text-font);
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin: 1rem 0 0 0;
  @include mq(576px) {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
  @include mq(992px) {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
