@import "mixins";
@import "menu";
@import "section-header";
@import "section-aboutme";
@import "section-portfolio";

:root {
  // KOLORY
  --background-clr: #5e565a;
  --primary-clr: #f3f1d8;
  --secondary-clr: #ff934f;

  //FONTY
  --titles-font: "Libre Baskerville", serif;
  --text-font: "Hind", sans-serif;
  --name-font: "Parisienne", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--background-clr);
  margin: 0;
  padding: 0;
}

.sections-title {
  color: var(--primary-clr);
  font-family: var(--titles-font);
  font-size: 3.6rem;
  line-height: 3.6rem;
  margin: 0 0 2.5rem 0;
}
