// KOLORY
:root {
  --background-clr: #5e565a;
  --primary-clr: #f3f1d8;
  --secondary-clr: #ff934f;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--background-clr);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  align-items: center;
  background-color: var(--secondary-clr);
  display: flex;
  height: 4rem;
  justify-content: flex-end;
  padding-right: 1rem;
}

.hamburger-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 2rem;
  justify-content: space-between;
  width: 2.5rem;
}

.hamburger-menu-bar {
  background-color: var(--primary-clr);
  border-radius: 1.5px;
  height: 0.4rem;
  width: 2.5rem;
}
