.header {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100%;

	@include mq(768px) {
		align-items: flex-start;
	}

	&__my-photo {
		@include myphoto(10rem);
		margin: 0 auto;

		@include mq(576px) {
			@include myphoto(12rem);
		}

		@include mqh(320px) {
			@include myphoto(10rem);
		}

		@include mq(768px) {
			@include myphoto(15rem);
			margin: 0;
		}

		@include mq(1200px) {
			@include myphoto(20rem);
		}
	}

	&__my-name {
		color: var(--primary-clr);
		font-size: 4rem;
		font-weight: bold;
		margin: 1rem auto;
		text-align: center;
		width: 21rem;

		@include mqh(320px) {
			font-size: 4rem;
			width: 100%;
		}

		@include mq(576px) {
			font-size: 7rem;
			width: 37rem;
		}

		@include mq(768px) {
			font-size: 5.5rem;
			margin: 1.5rem 0 3rem;
			text-align: left;
			width: 100%;
		}

		@include mq(1200px) {
			font-size: 8rem;
		}

		&--green {
			color: var(--secondary-clr);
			display: block;

			@include mqh(320px) {
				display: inline-block;
			}

			@include mq(768px) {
				display: inline-block;
			}
		}
	}

	.professions {
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: var(--box-radius);
		text-align: center;
		padding: 0.5rem 0;
		width: 28rem;

		@include mqh(320px) {
			align-items: center;
			display: flex;
			justify-content: space-around;
			padding: 1.5rem 2rem;
			width: 100%;
		}

		@include mq(576px) {
			padding: 2rem 0;
			width: 100%;
		}

		@include mq(768px) {
			align-items: center;
			display: flex;
			justify-content: space-around;
			padding: 1.5rem 2rem;
		}

		@include mq(992px) {
			max-width: 67rem;
		}

		@include mq(1200px) {
			padding: 2rem 2rem;
			max-width: 100%;
		}

		&__profession {
			font-size: 1.8rem;
			font-weight: normal;
			line-height: 3rem;
			margin: 0;

			@include mqh(320px) {
				font-size: 1.8rem;
			}

			@include mq(576px) {
				font-size: 2.4rem;
				margin-bottom: 2rem;
			}

			@include mq(768px) {
				font-size: 2.2rem;
				margin-bottom: 0;
			}

			@include mq(1200px) {
				font-size: 2.8rem;
			}

			&--green {
				color: var(--secondary-clr);
				font-size: 1.8rem;
				font-weight: normal;
				line-height: 3rem;
				margin: 0;

				@include mq(576px) {
					font-size: 2.4rem;
				}

				@include mq(768px) {
					font-size: 2.2rem;
				}

				@include mq(1200px) {
					font-size: 2.8rem;
				}
			}
		}
	}

	.header-icons {
		display: flex;
		justify-content: space-between;
		margin-top: 2rem;

		@include mq(768px) {
			margin-top: 5rem;
		}

		.header-icons__facebook,
		.header-icons__github,
		.header-icons__linkedin {
			color: var(--primary-clr);
			font-size: 3rem;
			margin-right: 1.5rem;
			transition: color 0.3s ease-in-out;

			@include mq(576px) {
				margin-right: 4.3rem;
			}

			@include mq(768px) {
				font-size: 6rem;
				margin-right: 5rem;
			}

			&:hover {
				color: var(--secondary-clr);
			}
		}

		.header-icons__linkedin {
			margin-right: 0;
		}
	}
}

.hide-header {
	visibility: hidden;
}
