.education {
	background-color: var(--background-clr);
	width: 100%;

	&__title {
		color: var(--secondary-clr);
		font-size: 3rem;
		margin: 5rem 0 1rem 0;
		text-align: center;
		text-transform: uppercase;
	}

	.gray-box {
		&--border-right {
			@include grayBox(100%, 3rem);
			border-top-left-radius: var(--box-radius);
			border-bottom-left-radius: var(--box-radius);
			border-right: 0.5rem solid var(--secondary-clr);
			padding: 1rem;
		}

		&--border-left {
			@include grayBox(100%, 3rem);
			border-top-right-radius: var(--box-radius);
			border-bottom-right-radius: var(--box-radius);
			border-left: 0.5rem solid var(--secondary-clr);
			padding: 1rem;
		}
	}
}
