@mixin hamburger-bar {
  background-color: var(--primary-clr);
  border-radius: 1.5px;
}

@mixin triangle($size) {
  background-color: var(--primary-clr);
  height: $size;
  position: absolute;
  transform: rotate(45deg);
  width: $size;
}

@mixin mq($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
