@mixin hamburger-bar($height, $width) {
	background-color: var(--primary-clr);
	border-radius: 0.5rem;
	height: $height;
	width: $width;
}

@mixin mq($width) {
	@media screen and (min-width: $width) {
		@content;
	}
}
