:root {
	// KOLORY
	--background-clr: #333;
	--background_dark-clr: #222;
	--primary-clr: #fff;
	--secondary-clr: #41ff14;

	//FONTY
	--titles-font: 'Libre Baskerville', serif;
	--text-font: 'Hind', sans-serif;
	--name-font: 'Parisienne';
}
