:root {
	// COLORS
	--background-clr: #333;
	--background_dark-clr: #222;
	--gray-clr: #707070;
	--primary-clr: #fff;
	--secondary-clr: #41ff14;

	// FONTS
	--font: 'Open Sans', serif;

	// OTHERS
	--box-radius: 0.5rem;
}
